body {
    font-family: Open Sans,Arial,sans-serif;
    font-size: x-large;
    background-color:rgb(22, 23, 43);
    margin: 0;
    padding: 0;
}

header {
    background-color: cadetblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo img {
    width: 6vw;

}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 50px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: darkgray;
}

#logores {
     display: flex; 
    flex-direction: row;
}

.reslog {
    width: 3vw;
    margin-right: 5px;
}

h2 {
    margin-top: 100px;
    margin-left: 100px;
    color: aqua;
}

.vidéo {
    display: flex;
    justify-content: space-around;
    border: solid;        
    border-radius: 10px 10px 10px 10px;
    border-width: 3px;
    border-color: blueviolet;   
}

.vidéo iframe {
    width: 45%;
    height: 500px;
  }

